basePath: /base/path
definitions:
  main.StandardResponse:
    properties:
      code:
        type: integer
      data: {}
      message:
        type: string
      success:
        type: boolean
    type: object
host: lx.helloworld.com
info:
  contact:
    email: support@swagger.io
    name: lx
    url: http://www.swagger.io/support
  description: liuxing test helloworld
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: helloworld
  version: "1.0"
paths:
  /api/v1/user/login:
    post:
      parameters:
      - description: 用户名
        in: query
        name: account
        type: string
      - description: 密码
        in: query
        name: password
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/main.StandardResponse'
        "400":
          description: 请求错误
          schema:
            $ref: '#/definitions/main.StandardResponse'
        "500":
          description: 内部错误
          schema:
            $ref: '#/definitions/main.StandardResponse'
      summary: 禅道登录接口
  /api/v1/user/logout:
    post:
      parameters:
      - description: session_id
        in: query
        name: zentaosid
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/main.StandardResponse'
        "400":
          description: 请求错误
          schema:
            $ref: '#/definitions/main.StandardResponse'
        "500":
          description: 内部错误
          schema:
            $ref: '#/definitions/main.StandardResponse'
      summary: 禅道登出接口
swagger: "2.0"
